<div class="container w-50 pt-5">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="email" class="form-control" placeholder="Enter Your First Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="email" class="form-control" placeholder="Enter Your last Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
            <input type="email" class="form-control" placeholder="Enter Your phone No.">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" placeholder="Enter Your Emial">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Enter Your Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>